[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipython = "*"
django-extensions = "*"


[packages]

django = "*"
djangorestframework = "*"
django-filter = "==2.0.0.dev1"
python-dateutil = "*"
drf-extensions = {git = "https://github.com/chibisov/drf-extensions.git", ref = "master"}
